/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* Imagen del formulario de login */
.bg-login {
  background-image: url(https://cdn.pixabay.com/photo/2018/08/03/08/33/food-3581341_960_720.jpg);
  background-size: cover;
}
/* imagen del formulario de registro */
.bg-registro {
  background-image: url(https://cdn.pixabay.com/photo/2020/03/25/21/05/pizza-4968645_960_720.jpg);
  background-size: cover;
}
/* imagen de bg de fondo en el home */
.bg-home {
  background-image: url(https://img.freepik.com/foto-gratis/sabrosa-pizza-cerca-ingredientes_23-2147772080.jpg?w=1060&t=st=1675236428~exp=1675237028~hmac=991062073def1b530323531b40a3921b87a77512a5a3c7f3a15bc9acd057fb8e);
  background-size: cover;
}
/* Texto del home */
.text-home {
  padding-top: 50px;
}
/* Boton del Home  */
.button-home {
  margin-top: 35px;
}
/* Bg-img de nuestro equipo en aboutUs */
.bg-img {
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
  background-size: cover;
  /* border-radius: 50%; */
}

body {
  font-family: "Schibsted Grotesk", sans-serif;
}
